{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-1">Safety and Culture</h1>
    <p class="lead">Stay safe while exploring this dynamic city.</p>
  </div>
</div>
<div class="container">

  <div class="container">
    <h1>Stay Safe</h1>
    <p>Nairobi is a large city with a day time population of close to 4.5 million people.
    As with many large cities in developing economies,inequality has caused an increase in petty crime.
  <strong>Here are you can steps you can take to stay safe:</strong></p>
  <ul>
    <li>Avoid walking in the CBD after dark.</li>
    <li>Avoid using your phone or showing flashy jewellery in the street.</li>
    <li>Let a friend know if you plan to visit an area of Nairobi you haven't been to before.</li>
    <li>Keep your car doors locked at all times and don't stop on deserted roads.</li>
    <li>Book safaris with registered tour operators. Ask to see documentation.</li>
    <li><strong>Trust your instincts!</strong> If you feel uncomfortable in any situation,leave.</li>
  </ul>
  <p>If you feel unsure whether a place is safe to go to or not call our local guides and they will be glad to help.</p>

  </div>
  <div class="container">
    <h1>Culture</h1>
    <p>Kenyans are a diverse community of people with a rich and diverse culture.Here's a heads up on a few things that
    might take some getting used to.</p>
    <ul>
      <li><strong>Greetings:</strong>Kenyans are a warm and friendly people.Expect a greeting from random strangers.</li>
      <li><strong>Timing:</strong>Outside of a professional setting,time is a fluid concept.Confirm exact timing and follow up if you need precision.</li>
      <li><strong>Driving:</strong>Aggression.</li>
      <li><strong>PDA:</strong>Will be met with bemusement at best.</li>
      <li><strong>Politics:</strong>Often closely linked with ethnicity and some people often get very passionate about it.Avoid these discussions if you can.</li>

    </ul>
  </div>

  <p>In all Nairobi's residents are a friendly people. Keep your wits about you and be respectful of people.You'll enjoy living in this beautiful city.</p>
</div>
<div class="container">
  <footer class="page-footer font-small blue pt-4">

    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase">Nahamia Nai</h5>
          <p>Buy us a coffee. <i class="fas fa-smile-wink fa-lg"></i></p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Our Partners</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!">Kenya Buzz</a>
            </li>
            <li>
              <a href="#!">EatOut</a>
            </li>
            <li>
              <a href="#!">Ma3Route</a>
            </li>
            <li>
              <a href="#!">Kejahunt</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Social</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!"><i class="fab fa-facebook-square fa-2x"></i></a>
            </li>
            <li>
              <a href="https://www.instagram.com/"><i class="fab fa-twitter-square fa-2x"></i></a>
            </li>
            <li>
              <a href="https://www.instagram.com/"><i class="fab fa-instagram fa-2x"></i></a>
            </li>
          </ul>

        </div>
      </div>
    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/bootstrap-tutorial/"> Hamanai.com</a>
    </div>
  </footer>
</div>
{% endblock %}
