{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-1">Nairobi Slang Basics</h1>
    <p class="lead">Learn the language that describes the people.</p>
  </div>
</div>
<div class="container">

  <div class="container">
  <h3><strong>Greetings</strong></h3>
    <ul>
      <li><strong>"Niaje?"</strong>- What's up?</li>
      <p>Simple response:"Niko fiti" - I'm cool.</p>
    </ul>

  </div>
  <div class="container">
  <h3><strong>Directions</strong></h3>
    <ul>
      <li><strong>"Nionyeshe njia ya kwenda Giraffe Centre"</strong>- Give me directions to Giraffe Center.</li>
      <li><strong>"Hapa ni wapi"-</strong>- Where is this?</li>
      <li><strong>"Naweza nunua chakula wapi?"</strong>- Where can I buy food?</li>
    </ul>

  </div>
  <div class="container">
    <h3><strong>Currency</strong></h3>
      <ul>
        <li><strong>Pesa</strong>- Money</li>
        <p><strong>Amounts</strong></p>
        <li>"mbao" - Twenty Shillings </li>
        <li>"chwani" - Fifty Shillings</li>
        <li>"soo" - One hundres Shillings</li>
        <li>"rwabe" - Two Hundred Shillings</li>
        <li>"punch" - Five Hundred Shillings</li>
        <li>"thao" - One thousand shillings</li>
      </ul>

  </div>

</div>
<div class="container">
  <footer class="page-footer font-small blue pt-4">

    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase">Nahamia Nai</h5>
          <p>Buy us a coffee. <i class="fas fa-smile-wink fa-lg"></i></p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Our Partners</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!">Kenya Buzz</a>
            </li>
            <li>
              <a href="#!">EatOut</a>
            </li>
            <li>
              <a href="#!">Ma3Route</a>
            </li>
            <li>
              <a href="#!">Kejahunt</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Social</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!"><i class="fab fa-facebook-square fa-2x"></i></a>
            </li>
            <li>
              <a href="https://www.instagram.com/"><i class="fab fa-twitter-square fa-2x"></i></a>
            </li>
            <li>
              <a href="https://www.instagram.com/"><i class="fab fa-instagram fa-2x"></i></a>
            </li>
          </ul>

        </div>
      </div>
    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/bootstrap-tutorial/"> Hamanai.com</a>
    </div>
  </footer>
</div>
{% endblock %}
