{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<header class="masthead">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{ post.title }}</h1>
              <span class="meta">Posted by
                {{ post.user_id }}
                on {{ post.date_posted.strftime('%B %d, %Y') }}
                  <hr>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            {{ post.post|safe }}
              <hr>
                  {% for comment in comments %}
                    {{ comment.thread }}
                        <hr>
                   {% endfor %}
              {{ wtf.quick_form(comment_form) }}
          </div>
        </div>
      </div>
    </article>

    <hr>

{% endblock %}